<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!-- Latest Mars News -->
    <div class="row" id="mars-data">
      <div class="col-md-12">
        <h2>Latest Mars News</h2>
        <h4 class="heading">{{mars_dict.title}}</h4>
        <small>{{mars_dict.paragraph}}</small>
      </div>
    </div>

    <div class="row">
		<div class="col-md-8">
            <h2>Featured Mars Image</h2>
            <img src="{{mars_dict.featured_image_url}}" alt="Featured Mars Image">
		</div>
		<div class="col-md-4">

      <div class="card">
            <h3>Mars Facts</h3>
            {{mars_dict.mars_fact_table | safe}}
      </div>
		</div>
	  </div>

    <div class="row">
        <h2 class="align-items-center">Mars Hemispheres</h2>
    </div>
    <div class="row">       
        {% for hemisphere in mars_dict.mars_hemispheres %} 
          <div class="col-6 border">
          </br>
                <div>
                  <img src="{{hemisphere.img_url}}" alt="mars hemispheres">
                </div>

                <div>
                  <h4> {{hemisphere.title}} </h4>  
                </div>
        
          </div>
        {% endfor %}
    </div> 

  </div>


</body>

</html>