<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://bootswatch.com/3/united/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!-- Latest Mars News -->
    <div class="row" id="mars-data">
      <div class="col-md-12">
        <h2>Latest Mars News</h2>
        <h4 class="heading">{{mars_dict.title}}</h4>
        <small>{{mars_dict.paragraph}}</small>
      </div>
    </div>

    <div class="row">
		<div class="col-md-8">
            <h2>Featured Mars Image</h2>
            <img src="{{mars_dict.featured_image_url}}" alt="Featured Mars Image">
		</div>
    <div class="col-md-4">
      <div>
        <h3>Mars Facts</h3>
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th scope="col">Description</th>
              <th scope="col">Mars</th>
            </tr>
          </thead>
          <tbody>
            {% for col in mars_dict.mars_facts %} 
            <tr class="table-primary">
              <td>
                    {{col.column1}}
              </td>
              <td>
                    {{col.column2}}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>        
      </div>
		</div>
    </div>  

    <div class="row">
      <div class="page-header">
        <h2 style="text-align: center;">Mars Hemispheres</h2>
      </div>
            {% for hem in mars_dict.mars_hemispheres %} 
                <div class="col-md-6">
                  <div class="thumbnail">
                  <img src="{{hem.img_url}}" alt="mars hemispheres" width=75%>
                    <div class="caption" style="text-align: center;">
                    <h4> {{hem.title}} </h4>  
                    </div>
                  </div>
                </div> 
            {% endfor %}
    </div>

  </div>

</body>

</html>