<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <!-- <link rel="stylesheet" href="reset.css">  -->
  <!-- <link rel="stylesheet" href="bootstrap.css"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!-- Latest Mars News -->
    <div class="row" id="mars-data">
      <div class="col-md-12">
        <h2>Latest Mars News</h2>
        <h4 class="heading">{{mars_dict.title}}</h4>
        <small>{{mars_dict.paragraph}}</small>
      </div>
    </div>

    <div class="row">
		<div class="col-md-8">
            <h2>Featured Mars Image</h2>
            <img src="{{mars_dict.featured_image_url}}" alt="Featured Mars Image">
		</div>
    <div class="col-md-4">
      <div>
        <h3>Mars Facts</h3>
        <table class="table table-hover" border: 1px solid black; border-collapse: collapse;>
          <thead>
            <tr>
              <th scope="col">Description</th>
              <th scope="col">Mars</th>
            </tr>
          </thead>
          <tbody>
            {% for col in mars_dict.mars_facts %} 
            <tr class="table-primary">
              <td>
                    {{col.column1}}
              </td>
              <td>
                    {{col.column2}}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>        
      </div>
		</div>
    </div>  

    <div class="row">
      <div class="col-md-12">
        <h2 style="text-align: center;">Mars Hemispheres</h2>
        <div class="row">
          <div class="col-6 border">
            {% for hem in mars_dict.mars_hemispheres %} 
                <div>
                  <img src="{{hem.img_url}}" alt="mars hemispheres" width=50%>
                </div>

                <div>
                  <h4> {{hem.title}} </h4>  
                </div>
            {% endfor %}
          </div>
         
        </div>
      </div>
    </div>

  </div>

  <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script> -->

</body>

</html>